git+https://github.com/DX-MODS/pyrogram
aiohttp==3.8.5
tgcrypto
lyricsgenius
python-dotenv==0.21.1
requests
asgiref
deezer-python
spotipy
psutil
aiofiles
apscheduler
mutagen
pymongo[srv]==3.12.3
bs4
motor==2.5.1
Shazamio
youtube-search-python
Pillow
wget
ffmpeg
dnspython
tswift
